<div>
    <h3>Welcome to GitGetter</h3>
    <p>The Revolutionary app that finds anyone's name, email, and github repo count with just their github username</p>
    <div>
        <%= form_for :git_user, url: git_users_path do |f| %>
            Github Username: <%= f.text_field :github_username %><br />
            <%= f.submit "Submit"%>
        <% end %>
    </div>
</div>